/* Reset */
html, body {
    margin: 0;
    padding: 0;
}

/* Menu */
#menu {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: rgb(253, 249, 241);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#menu .logo {
    flex: 1;
    margin-left: 15%;
}

#menu .logo img {
    width: 120px;
}

#menu .links {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 5%;
    user-select: none;
}

#menu .links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}

#menu .links a:hover,
#menu .links .pricing {
    border-bottom: 2px solid black;
}

#menu #socialmedias {
    flex: 1;
    display: flex;
    justify-content: end;
    gap: 5%;
    margin-right: 15%;
    user-select: none;
}

#menu #socialmedias img {
    width: 25px;
    transition: all 0.2s;
}

#menu #socialmedias img:hover {
    transform: scale(1.1);
}

/* Pricing Section */
#pricingtext {
    text-align: center;
    padding-top: 10%;
}

#pricingtext h1 {
    font-size: 50px;
    margin-bottom: 2%;
}

#pricingtext ul {
    padding-top: 2%;
    text-align: start;
}

#pricingtext li {
    margin-bottom: 5px;
}

#pricingtext h2,
.contactbutton,
.pricebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.contactbutton,
.pricebutton {
    margin: auto;
    user-select: none;
    color: black;
    background-color: rgb(250, 235, 215);
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.7);
    transition: all 0.5s;
    text-align: center;
}

.pricebutton {
    border: none;
    font-weight: 100;
}

.contactbutton a,
.pricebutton a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.contactbutton .buttontexthover,
.pricebutton .buttontexthover {
    font-size: 0;
    transition: all 0.3s;
}

.contactbutton:hover .buttontexthover,
.pricebutton:hover .buttontexthover {
    font-size: 16px;
}

.pricingnote {
    padding-top: 5%;
}

.pricingnote a {
    color: black;
}

/* Layout */
.pricingcontainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 10% 0;
}

.pricingimg img {
    transform: rotate(-5deg);
    max-width: 80%;
    box-shadow: 10px 10px 39px rgba(0,0,0,0.75);
}

/* Footer */
footer {
    background-color: rgb(253, 249, 241);
    text-align: center;
    padding: 5% 0;
    border-top: 1px solid rgba(0,0,0,0.5);
}

.socialmediasfooter {
    display: flex;
    gap: 20px;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.socialmediasfooter img {
    width: 25px;
    transition: transform 0.2s;
}

.socialmediasfooter img:hover {
    transform: scale(1.1);
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    #pricingtext { padding-top: 15%; }
}

@media screen and (max-width: 1000px) {
    #pricingtext { padding-top: 15%; }
    #menu .logo { margin-left: 5%; }
    #menu .logo img { width: 100px; }
}

@media screen and (max-width: 600px) {
    #pricingtext { padding-top: 20%; }
    .pricingcontainer { flex-direction: column; }
    #pricingprofile { padding: 10% 0 0 15%; }
    #menu #socialmedias { display: none; }
    #menu .links { flex: 5; }
    #menu .links a { font-size: 14px; }
    #welcome .contactbutton {
        font-size: 5.5px;
        height: 30px;
        width: 150px;
    }
    #menu .logo img {
        width: 60px;
    }
}

@media screen and (max-width: 400px) {
    #menu .logo img { width: 60px; }
    #pricingtext { padding-top: 30%; }
}
