body, html {
    margin: 0;
    padding: 0;
}

#menu {
    width: 100%;
    background-color: white;
    height: 150px;
    display: flex;
    align-items: center;  
    position: fixed;
    z-index: 1;
    background-color: rgb(253, 249, 241);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#menu .logo {
    flex: 1;                   
    display: flex;
    justify-content: start;
    margin-left: 15%;
}

#menu .links {
    flex: 1;                    
    display: flex;
    justify-content: center; 
    gap: 5%;
    user-select: none;
}

#menu .links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}

#menu .links a:hover {
    border-bottom: 2px solid black;
}

#menu .links .contact {
    border-bottom: 2px solid black;
}

#menu #socialmedias {
    user-select: none;
    flex: 1;                    
    display: flex;
    justify-content: end; 
    margin-right: 15%;
    gap: 5%;
}


#menu .logo img {
    width: 120px;
}

#menu #socialmedias img {
    width: 25px;
    transition: all 0.2s;
}

#menu #socialmedias img:hover {
    transform: scale(1.1);
}

#contacttext {
    display: flex;
    flex-direction: column; /* vertical */
    text-align: center;
}

#contacttext h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 10%;
}

#contactform {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

#contactform form {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}


#contactform form input,
#contactform form textarea {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;     /* Espaçamento interno */
    font-size: 16px;   /* Ajusta o tamanho da fonte */
    margin-bottom: 10px; /* Espaço entre os campos */
    width: 600px;
    border-radius: 10px;
    background-color: rgb(253, 249, 241);
}

#contactform button {
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: rgb(230, 219, 211);
    padding: 3%;
    border-radius: 10px;
    width: 100px;
    margin: 5% auto;
}

footer {
    background-color: rgb(253, 249, 241);
    place-items: center;
    padding: 5% 0 5% 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
}

.socialmediasfooter {
    display: flex;
    gap: 20px;
    user-select: none;
    align-items: center;
}

.socialmediasfooter img {
    width: 25px;
}

.socialmediasfooter img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1300px) {
    #contacttext {
        padding-top: 10%;
    }
}


@media screen and (max-width: 1000px) {

    #contactform form input,
    #contactform form textarea {
        width: 400px;
    }

    #contacttext p {
        margin: 0 auto;
        width: 400px;
    }

    #menu .logo {
        margin-left: 5%;
    }

    #menu .logo img {
        width: 100px;
    }


}

@media screen and (max-width: 600px) {

    #contacttext {
        padding-top: 20%;
    }

    #menu #socialmedias {
        display: none;
    }

    #menu .links {
        flex: 5;
        display: flex;
        gap: 5%;
        user-select: none;
    }

    #menu .links  a{
        font-size: 14px;
    }

    #contactform {
        display: flex;
        justify-content: center;
        padding-bottom: 40%;
    }

    #contactform form input,
    #contactform form textarea {
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    #menu .logo img {
        width: 60px;
    }

    #contacttext {
        padding-top: 30%;
    }

    #contacttext h1 {
        font-size: 40px;
    }

    #contacttext p {
        margin: 0 auto;
        width: 300px;
    }

    #contactform form input,
    #contactform form textarea {
        width: 300px;
    }

    #contactform {
        padding-bottom: 50%;
    }
}